<div class="container">
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <form [formGroup]="patientForm" class="form-horizontal" (ngSubmit)="onSubmit()">

           
                <div class="panel panel-primary">

                 <div class="panel-heading">

                    <h3 class="panel-title">Création Patient</h3>
                 </div>

                 <div class="panel-body">

            
                       <div class="form-group">  
                            <label for="nom" class="col-sm-3 control-label">Nom:</label>
                            <div class="col-sm-8"> 
                               <input class="form-control" name="firstName" id="firstName" type="text" formControlName="firstName">
                           </div> 
                           </div>
                                                      
                       <!-- </div>  -->
                        <div class="form-group">
                                <label for="prenom" class="control-label col-sm-3">Prenom:</label>
                                <div class="col-sm-8">
                                  <input class="form-control" name="prenom" id="prenom" type="text" formControlName="lastName">
                                </div>
                         </div>
       
                         
                            <div class="form-group">
                                    <label for="sex" class="control-label col-sm-3">Sexe:</label>
                                    <div class="col-sm-8">
                                      <select class="form-control" name="sex" id="" formControlName="sex">
                                          <option  value="" disabled></option>
                                          <option value="Masculin">Masculin</option>
                                          <option value="Feminin">Feminin</option>
                                      </select>
    
                                    </div>
                                </div>
        
                                <div class="form-group">
                                  <label for="sigle" class="control-label col-sm-3">Sigle:</label>
                                  <div class="col-sm-8">
                                    <select class="form-control" name="sigle" id="" formControlName="sigle">
                                        <option disabled></option>
                                        <option value="Monsieur">Monsieur</option>
                                        <option value="Mme">Mme.</option>
                                        <option value="Mlle">Mlle.</option>
                                        <option value="Dr">Dr.</option>
                                        
                                    </select>
                                  </div>
                       </div>


                            <div class="form-group">
                                <label for="dob" class="control-label col-sm-3">Date de naissance:</label>
                                <div class="col-sm-8">
                                  <input class="form-control" name="prenom" id="prenom" type="date" formControlName="dob">
                                </div>
                            </div>

                            <div class="form-group">
                                    <label for="phone" class="control-label col-sm-3">Telephone:</label>
                                    <div class="col-sm-8">
                                      <input class="form-control" name="phone" id="phone" type="text" formControlName="phone">
                                    </div>
                                </div>

                            <div class="form-group">
                                    <label for="cni" class="control-label col-sm-3">Numero de CNI:</label>
                                    <div class="col-sm-8">
                                      <input class="form-control" name="cni" id="cni" type="text" formControlName="cni">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="text" class="control-label col-sm-3">Email:</label>
                                        <div class="col-sm-8">
                                          <input class="form-control" name="email" id="email" type="text" formControlName="email">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                            <label for="text" class="control-label col-sm-3">Addresse:</label>
                                            <div class="col-sm-8">
                                              <input class="form-control" name="address" id="address" type="text" formControlName="address">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label for="nationality" class="control-label col-sm-3">Nationalité:</label>
                                                <div class="col-sm-8">
                                                  <input class="form-control" name="nationality" id="nationality" type="text" formControlName="nationality">
                                                </div>
                                            </div>

                            </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary" type="submit" [disabled]="patientForm.invalid">Enregistrer&nbsp;<span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>

                    @csrf
                    </form>

                 </div>
            </div>
        </div>
