

<!-- End of navigation -->
  <div class="container">
      <div class="row">
          <div class="col-md-3">
                
            <h1 class="lead">Shop Name</h1>
            <div class="list-group">
              <a href="#" class="list-group-item">Category 1</a>
              <a href="#" class="list-group-item">Category 2</a>
              <a href="#" class="list-group-item">Category 3</a>
            </div>
          </div>

          <div class="col-md-9">
                <router-outlet></router-outlet>
        </div>
      </div>
  </div>
